.card {
    transition: ease-in-out 0.3s;
    margin: 10px auto;
}

.card:hover {
    transform: translateY(-10px);
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 8px 24px rgba(10, 167, 184, 0.087);
}

/* -----------------------------------------input form --------------------------------------- */

.input-border-bottom {
    border-bottom: 1.5px solid var(--primary-color);
    font-size: 15px;
    font-weight: 600;
    color: #4b5563;
    border-radius: 0;
    /* margin-left: 4px; */
}

.label-font {
    /* font-size: 15px;
    color: #9b9b9b; */
    font-size: 13px;
    color: var(--primary-color);
    font-weight: 600;
    text-align: left;
    font-family: poppins, sans-serif;
}

.label-font-tabbing {
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 500;
    text-align: left;
    font-family: poppins, sans-serif;
}


/* React-paginate package */

.pagination {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    cursor: pointer;
    font-size: 14px;
    gap: 7px;
    font-weight: 500;
    color: #808080;
}

.pagination a {
    padding: 6px 9px;
    border: 1px solid white;
    border-radius: 7%;
    border: 1px solid var(--primary-color);
    color: #000;
    box-shadow: 1px 1px 2px 1px #a3a3a3;
    border: 1px solid #a3a3a3;
}

.pagination_Link {
    font-weight: 300;
}

.pagination_Link-active a {
    color: white;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.pagination a:hover {
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 2px 1px #808080;
    background-color: var(--primary-color);
    color: white;
}

.pagination_Link {
    font-weight: 500;
    margin-bottom: 5px;
}

.pagination_Link-disabled a {
    color: white;
    background-color: #dedfdf;

}

/* .pagination_Link-disabled a:hover {
    border: 1px solid #000;

} */

@media only screen and (max-width:320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    /* For mobile  */

    .pagination a {
        padding: 2px 5px;
        border: 1px solid white;
        border-radius: 7%;
        border: 1px solid var(--primary-color);
        color: #000;
        box-shadow: 1px 1px 2px 1px #a3a3a3;
        border: 1px solid #a3a3a3;
    }

    .pagination_Link-active a {
        color: white;
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
    }
}

@media only screen and (max-width:481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    /* For mobile  */

    .pagination a {
        padding: 2px 5px;
        border: 1px solid white;
        border-radius: 7%;
        border: 1px solid var(--primary-color);
        color: #000;
        box-shadow: 1px 1px 2px 1px #a3a3a3;
        border: 1px solid #a3a3a3;
    }

    .pagination_Link-active a {
        color: white;
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
    }
}


.other-box {
    width: 25%;
}

@media (min-width:320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    /* For mobile  */
    .other-box {
        width: 100%;
    }

}

@media (min-width:481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    /* For mobile  */

    .other-box {
        width: 100%;
    }
}

@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .other-box {
        width: 60%;
    }

}

@media (min-width:961px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    /* For tablets: */
    .other-box {
        width: 60%;
    }

}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    /* For desktop: */
    .other-box {
        width: 40%;
    }
}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */
    .other-box {
        width: 40%;
    }

}



/* ---------------------------- email setting --------------- */

.email-setting {
    line-height: 27.5px !important;
    letter-spacing: 0.4px;
    word-spacing: 0.4px;
}


.dtm-title-head {
    /* text-transform: uppercase; */
    color: var(--secondary-shade);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.7em;
    letter-spacing: 0.1px;
}

.box {
    border-top: 10px solid var(--secondary-shade);
    border-bottom: 10px solid var(--secondary-shade);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px #2c2e2e;
}

.input-border {
    border: 1px solid #cacaca;
    border-radius: 6px;
    padding: 3px 8px;
    font-size: 15px;
    font-weight: 400;
}

.modal-input-field {
    border: 1px solid #cacaca;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 15px;
}

.input-select-border {
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 4px 5px;
    font-size: 13px;
}

.modal-label-name {
    color: rgba(54, 54, 54, 0.85);
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0px;
    word-spacing: 1px;
    margin-left: 5px;
    margin-bottom: 5px;
    /* box-shadow: none; */
}

.customPhone .react-tel-input .form-control {
    width: 100%;
    height: 32px;
}

.customPhone .react-tel-input .form-control:focus {
    box-shadow: 0 0 0 1px #00a3b2;
}


.dtm-button {
    background-color: var(--primary-color);
    /* font-family: 'Poppins',
        sans-serif; */
    font-weight: 600;
    font-size: 12px;
    line-height: 2em;
    letter-spacing: 0.3px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 2px;
    border-width: 0px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0px #000000;
    transition: ease-in-out 0.3s;
}

.dtm-button:hover {
    background-color: var(--secondary-shade);
}


.dcm-button {
    padding-left: 11px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 17.6px !important;
    /* text-transform: capitalize; */
    letter-spacing: 1px;
    word-spacing: 0.2px;
    background-color: var(--primary-color);
    background-clip: border-box;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */

    transition: ease-in-out 0.3s;
    border: 1px solid var(--primary-color);
}

.dcm-button:hover {
    background-image: linear-gradient(141deg, var(--secondary-shade) 0%, var(--secondary-shade) 100%);
    color: rgb(255, 255, 255);
}

.dcm-close-button {
    padding-left: 11px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 4px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 12px;
    line-height: 17.6px !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0.2px;
    background-color: #b91c1c;
    background-clip: border-box;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    display: inline-block;
    transition: ease-in-out 0.3s;
    border: 0.5px solid #b91c1c;
}

.dcm-close-button:hover {
    background-image: linear-gradient(141deg, #b91c1c 0%, #f87171 100%);

}

.dcm-clear-button {
    padding: 6px 4px 4px;
    /* padding-left: 11px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 4px; */
    font-family: 'Roboto',
        sans-serif;
    font-size: 12px;
    line-height: 17.6px !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0.2px;
    background-clip: border-box;
    color: var(--primary-color);
    border-radius: 5px;
    border: 0.5px solid #c1c1c1;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    display: inline-block;
    transition: ease-in-out 0.1s;
}

.dcm-clear-button:hover {
    background-image: linear-gradient(141deg, #b91c1c 0%, #b91c1c 100%);
    color: #fff;
    /* border: 0.5px solid #b91c1c; */
}

.dcm-input-button {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding: 4px 12px;
    background-color: var(--primary-color);
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    border-radius: 3px;
}

.dcm-all-select-button {
    padding-left: 11px;
    padding-right: 8px;
    padding-top: 1px;
    /* padding-bottom: 2px; */
    font-family: 'Roboto',
        sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0.2px;
    background-color: var(--primary-color);
    background-clip: border-box;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    display: inline-block;
    transition: ease-in-out 0.3s;
    border: 1px solid var(--primary-color);
}

.dcm-all-select-button:hover {
    background-image: linear-gradient(141deg, var(--secondary-shade) 0%, var(--primary-color) 100%);
}

.dcm-input-button:hover {
    background-image: linear-gradient(141deg, var(--secondary-shade) 0%, var(--primary-color) 100%);
}

.dcm-white-button {
    padding: 7px 5px 4px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 16px;
    line-height: 17.6px !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0.2px;
    color: var(--primary-color);
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    display: inline-block;
    transition: ease-in-out 0.3s;
    border: 1px solid rgb(255, 255, 255);
}

.dcm-white-button:hover {
    color: #fff;
    background-color: var(--primary-color);

}

.dcm-modal-submit-button {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    background-color: #8294bb;
    padding: 4px 10px;
    border: 1px solid #8294bb;
    transition: all ease-in-out 0.3s;
}

.dcm-modal-submit-button:hover {
    background-color: #233867;
}

.dcm-modal-close-button {
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    color: #000;
    background-color: #e8e8e8;
    padding: 4px 10px;
    border: 1px solid #c1c1c1;
    transition: all ease-in-out 0.3s;
}

.dcm-modal-close-button:hover {
    background-color: #d9d9d9;
}

@media only screen and (min-width:320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    /* For mobile  */

    .login-form {
        width: 95%;
        top: 5em;
        right: -6px;
    }

}

@media only screen and (min-width:481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    /* For mobile  */

    .login-form {
        width: 95%;
        top: 5em;
        right: -6px;
    }

}

@media only screen and (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .login-form {
        width: 65%;
        /* top: 18em; */
        right: 9em;
    }

}

@media only screen and (min-width:961px) and (max-width:1024px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    /* For tablets: */

    .login-form {
        width: 65%;
        top: 18em;
        right: 9em;
    }
}

@media only screen and (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    /* For desktop: */

    .login-form {
        width: 40%;
        /* width: 29%; */
        /* top: 15em; */
        right: 10em;
    }
}

@media only screen and (min-width:1281px) {

    /* hi-res laptops and desktops */

    .login-form {
        width: 32%;
        top: 7em;
        right: 10em;
    }

}